<ol reversed class="flex flex-wrap mt-20 -mx-4">
{% for post in postslist | reverse %}
  <li class="mb-4">
    <div class="px-4 mb-12 md:mb-0">
      <a href="{{ post.url }}" class="block group">
        {# This is gross. Don't do this #}
        {% set inputPath = post.inputPath %}
        {% set folderPath = inputPath.slice(0, inputPath.lastIndexOf('/')) %}
        {% set folderPathWithoutContent = folderPath | replace('content/', '') %}
        {% set path = [folderPathWithoutContent, post.data.cover.src] | join('/') %}
        {% if post.data.cover %}
          <div class="cover-img">
            {% image path, post.data.cover.alt %}
          </div>
        {% endif %}

        <h4 class="mb-4 text-3xl font-medium transition duration-200 group-hover:text-teal-600">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h4>
        <time class="block mb-4" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
      </a>
    </div>
  </li>
{% endfor %}
</ol>
